{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Acerca de nosotros</title>
    <!--fuente para adopta a un peludo-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--link a hoja de estilo-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!--fuente para textos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Adopta un Peludo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donaciones.html">Donaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inicia_sesion.html">Iniciar sesión</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Búsqueda">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <br />


    <!--
    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Hola, Mi nombre es: Iván Moreira</h2>
            <p class="lead">Soy una persona impulsada por una gran pasión por la ciencia y el conocimiento. Desde niño,
                he cultivado una curiosidad por el mundo que nos rodea y una profunda admiración por los procesos que
                rigen la naturaleza. Mi camino en la informática y las tecnologías de la información me motiva a
                explorar, aprender y contribuir de manera significativa en el área que me desarrolle, donde considero
                que el trabajo en equipo es fundamental para cumplir este objetivo.
                Por otra parte, quiero que mis contribuciones y mi compromiso con el aprendizaje continuo sean para
                mejorar como persona, científico y profesional.
            </p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    -->

    <section>
        <h1>Un poco sobre nosotros</h1>
    </section>

    <!--nuevas descripciones personales/tarjetas de id para cada uno-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="img/ivan.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Iván Moreira</h5>
                    <p class="card-text">Mi pasión por la ciencia y el conocimiento ha guiado mi carrera en informática y tecnologías de la información. Desde
                    pequeño, he sido curioso acerca del mundo y los procesos naturales. Estoy motivado para explorar, aprender y contribuir
                    significativamente en mi campo, valorando el trabajo en equipo como esencial. Aspiro a que mis esfuerzos mejoren
                    continuamente mi desarrollo personal, científico y profesional.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="img/genesis.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Genesis Cortez</h5>
                    <p class="card-text">Soy una mujer que equilibra diligentemente mi carrera, estudios y una hermosa vida familiar. Mi amor por
                    los animales es profundo y me dedico activamente a contribuir a su bienestar, siempre buscando maneras de hacer una
                    diferencia positiva en sus vidas.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="img/palomaContreras.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paloma Contreras</h5>
                    <p class="card-text">Estoy profundamente motivada por el conocimiento y el aprendizaje, especialmente en temas relacionados con animales y
                    nuestro impacto en ellos. Me esfuerzo por contribuir significativamente en equipos, buscando inspiración para mi
                    crecimiento personal y profesional. Trabajo diariamente en perfeccionar mis habilidades para apoyar las causas que me
                    apasionan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="img/hans.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hans Ramirez</h5>
                    <p class="card-text">Soy un apasionado defensor de los animales. Mi vida profesional está dedicada a mejorar su bienestar,
                    trabajando incansablemente en iniciativas y proyectos que promueven su protección y cuidado. Mi amor por estos seres
                    vivos guía cada paso que doy, buscando siempre el impacto positivo y sustentable en sus vidas.</p>
                </div>
            </div>
        </div>
    </div>
    <!--fin de tarjetas-->


    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2024 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="https://web.facebook.com/"><img src="img/facebook.png"
                        alt="Twitter" width="24" height="24"></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/"><img
                        src="img/instagram.png" alt="Twitter" width="24" height="24"></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/"><img src="img/gorjeo.png"
                        alt="Twitter" width="24" height="24"></a></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>